.bgAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: #1d1d1d;
  filter: saturate(1.5);
  overflow: hidden;
  z-index: -2;
}

.colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: #1d1d1d;
}

.colorBox:hover {
  background: #f1c40f;
  transition-duration: 0s;
}

.backgroundAnim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #7d6608;
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}
